{% extends "base.html" %}

{% block title%}
Quality Auto Sales - inancial Arrangement
{% endblock %}

{% block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'financial_arrangement.css')}}">
{% endblock %}

{% block content%}

<form action="#" method="POST">
    <fieldset>
        <legend>

            <h1>
                New Financial Arrangement

            </h1>

        </legend>
        <table>

            <tr>
                <td>Interest rate</td>
                <td id="fincl_int_rate"><input type="number" name="fincl_int_rate" step="0.001" required></td>

            </tr>

            <tr>

                <td>Number of Payment</td>
                <td id="fincl_num_of_payment"><input type="number" name="fincl_num_of_payment" required step="1" min=0>
                </td>
            </tr>


        </table>

        <input type="submit">
        <input type="hidden" name="request_type" value="fincl_add">
    </fieldset>
</form>

<br>

{% if content is defined%}
<div id="result-table">
    <table>
        <thead>
            <tr>
                <th>Financial Arrangement ID</th>
                <th>Interest Rate</th>
                <th>Number of Payment</th>
                <th>Delete</th>
                <th>Edit</th>


            </tr>
        </thead>
        {% if content is defined %}
        <tbody id="content-table">
            {% for i in content %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>

                <td>
                    <form action="#" method="POST" style="margin: 0 auto;display: inline;">
                        <input type="hidden" name="page" value={{current_page}}>
                        <input type="hidden" name="request_type" value="fincl_option_delete">
                        <input type="hidden" name="dw_fincl_option_id" value='{{i[0]}}'>
                        <input type="submit" value="Delete">
                    </form>
                </td>

                <td><button onclick="edit_sales('{{i[0]}}','{{i[1]}}','{{i[2]}}','{{i[3]}}');">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
    <br>
    <div class="page_button" style="margin: 0 auto; display:inline;">
        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{prev_page}}>
            <input type="hidden" name="request_type" value="fincl_continue_read">
            <input type="submit" value="Prev">
        </form>

        Page {{current_page}}

        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{next_page}}>
            <input type="hidden" name="request_type" value="fincl_continue_read">
            <input type="submit" value="Next">
        </form>
    </div>
    <br>


</div>


{% endif %}

<div id="edit_modal" class="edit_modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="edit-close">&times;</span>

        <form action="#" method="POST">
            <fieldset>
                <legend>
                    <h1>
                        Financial Arrangement Update
                    </h1>

                </legend>
                <table>

                    <tr>
                        <td>Financial Arrangement ID: </td>
                        <td><input type="number" name="dw_fincl_option_id" id="fincl-id-update" readonly required></td>
                    </tr>

                    <tr>
                        <td>Interest Rate:</td>
                        <td><input type="number" name="int_rate" id="fincl-int-rate-update" step="0.001" required></td>
                    </tr>

                    <tr>
                        <td>Number of Payment</td>
                        <td><input type="number" name="num_of_payment" id="fincl-num-of-payment-update" required
                                step="1" min=0></td>
                    </tr>




                </table>

                <input type="submit">
                <input type="hidden" name="request_type" value="fincl_edit">
                <input type="hidden" name="page" value={{current_page}}>

            </fieldset>
        </form>
    </div>

</div>


<p>

    {% if status_msg is defined%}
    {{status_msg}}
    {% endif %}


</p>

<script>



    var edit_modal = document.getElementById("edit_modal");
    var edit_span = document.getElementById("edit-close");


    edit_span.onclick = function () {
        edit_modal.style.display = "none";
    }


    window.onclick = function (event) {

        if (event.target == edit_modal) {
            edit_modal.style.display = "none";
        }

    }


    function edit_sales(dw_fincl_option_id, int_rate, num_of_payment) {
        edit_modal.style.display = "block";
        document.getElementById("fincl-id-update").value = dw_fincl_option_id
        document.getElementById("fincl-int-rate-update").value = int_rate
        document.getElementById("fincl-num-of-payment-update").value = num_of_payment


    }



</script>


{% endblock %}