{% extends "base.html" %}

{% block title%}
Financial Arrangement
{% endblock %}

{% block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'financial_arrangement.css')}}">
{% endblock %}

{% block content%}

<form action="#" method="POST">
    <fieldset>
        <legend>Add New Finaancial Arrangement</legend>
        <table>

            <tr>
                <td>Interest rate</td>
                <td id="fincl_int_rate"><input type="number" name="fincl_int_rate" step="0.001"></td>

            </tr>

            <tr>

                <td>Number of Payment</td>
                <td id="fincl_num_of_payment"><input type="number" name="fincl_num_of_payment"></td>
            </tr>


        </table>

        <input type="submit">
        <input type="hidden" name="request_type" value="fincl_add">
    </fieldset>
</form>



{% if content is defined%}
<style>
    th {
        border-bottom: 1px solid black;
    } 
</style>
<div>
    <table style="border: 1px solid black;">
        <thead>
            <tr>
                <th>Financial Arrangement ID</th>
                <th>Interest Rate</th>
                <th>Number of Payment</th>
                <th>Delete</th>
                <th>Edit</th>


            </tr>
        </thead>
        {% if content is defined %}
        <tbody id="content-table">
            {% for i in content %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>

                <td><button onclick="delete_fincl_option('{{i[0]}}');">Delete</button></td>
                <td><button onclick="edit_sales('{{i[0]}}','{{i[1]}}','{{i[2]}}','{{i[3]}}');">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <div class="page_button" style="margin: 0 auto; display:inline;">
        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{prev_page}}>
            <input type="hidden" name="request_type" value="fincl_continue_read">
            <input type="submit" value="Prev">
        </form>

        Page {{current_page}}

        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{next_page}}>
            <input type="hidden" name="request_type" value="fincl_continue_read">
            <input type="submit" value="Next">
        </form>
    </div>
    <br>


</div>


{% endif %}

<div id="edit_modal" class="edit_modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="edit-close">&times;</span>

        <form action="#" method="POST">
            <fieldset>
                <legend>Financial Arrangement Information</legend>
                <table>

                    <tr>
                        <td>Financial Arrangement ID: </td>
                        <td><input type="number" name="dw_fincl_option_id" id="fincl-id-update" readonly></td>
                    </tr>

                    <tr>
                        <td>Interest Rate:</td>
                        <td><input type="number" name="int_rate" id="fincl-int-rate-update" step="0.001"></td>
                    </tr>

                    <tr>
                        <td>Number of Payment</td>
                        <td><input type="number" name="num_of_payment" id="fincl-num-of-payment-update"></td>
                    </tr>




                </table>

                <input type="submit">
                <input type="hidden" name="request_type" value="fincl_edit">
                <input type="hidden" name="page" value={{current_page}}>

            </fieldset>
        </form>
    </div>

</div>



{% if status_msg is defined%}
{{status_msg}}
{% endif %}


<script>



    var edit_modal = document.getElementById("edit_modal");
    var edit_span = document.getElementById("edit-close");


    edit_span.onclick = function () {
        edit_modal.style.display = "none";
    }


    window.onclick = function (event) {

        if (event.target == edit_modal) {
            edit_modal.style.display = "none";
        }

    }


    function edit_sales(dw_fincl_option_id, int_rate, num_of_payment) {
        edit_modal.style.display = "block";
        document.getElementById("fincl-id-update").value = dw_fincl_option_id
        document.getElementById("fincl-int-rate-update").value = int_rate
        document.getElementById("fincl-num-of-payment-update").value = num_of_payment


    }


    function delete_fincl_option(dw_fincl_option_id) {

        var req = new XMLHttpRequest();
        var fincl_request = {}
        fincl_request.request_type = "fincl_option_delete"
        fincl_request.dw_fincl_option_id = dw_fincl_option_id
        fincl_request.page = "{{ current_page }}"
        console.log(fincl_request)

        req.open('POST', '/financial_arrangement', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                console.log("Delete Request Success!")

                location.reload();

            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(fincl_request));
        event.preventDefault();

    }

</script>


{% endblock %}