
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'index.css')}}">

{% extends "base.html" %}

{% block title%}
Home
{% endblock %}



{% block content%}


<img src="https://i.ibb.co/hHNwhHM/dealership-image.jpg" alt = "Cars" class = "center" style="width:55%" loading="lazy">
<!--image source: https://www.communitycars.com/ford-lincoln/dealer-serving-indianapolis-in-->
<div class = "center">
    <p>
        Welcome to Quality Auto Sales. We are the #1 dealership in Oregon. As an employee you have access to the following records: <!--With 10 locations spread out accross the state, we have plenty of cars to choose some. Please select an option from the navigation bar to make changes to our database.-->
    </p>

    <ul style="list-style-type:square">
        <li>Customer: Stores the customer's information

        </li>
        <br>
        <li>Sales Representatives: Stores the sale representative's information
        </li>
        <br>
        <li>Financial Arrangement: Stores the finacial agreement available to the customer, such as interest rates and number of payments
        </li>
        <br>
        <li>Vehicle Type: Stores the basic specifications of the vehicle available in the dealership
        </li>
        <br>
        <li>Monthly Payment: Stores the record of the monthly payment made by the customers
        </li>
        <br>
        <li>Vehicle Inventory: Stores the current inventory of the vehicles available in the dealership and where the vehicles are located in the dealership parking lot
        </li>
        <br>
        <li>Sales Records: Stores the sales record of the dealership, including the invoice number, date, vehicle information, price and finance option
        </li>
        <br>
        <li>Test Drive Record: Stores the record of vehicles being taken out for test drive
        </li>
        <br>
        <li>Cashflow Projection: Displays the cashflow for a date range
        <br>
    </ul>
</div>


{% endblock %}