{% extends "base.html" %}

{% block title%}
Test Drive Record
{% endblock %}

{% block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'test_drive.css')}}">
{% endblock %}

{% block content%}
<form action="#" method="POST">
    <fieldset>
        <legend>Test Drive Record Search</legend>

        <table>

            <tr>
                <td><label for="vin">VIN</label></td>
                <td colspan="3"><input type="text" name="vin"></td>
            </tr>

            <tr>
                <td><label for="make">Vehicle Make</label></td>

                <td colspan="3">
                    <input list="make-list" id="make-list-input" name="make"></input>
                    <datalist id="make-list">
                    </datalist>
                </td>

            </tr>


            <tr>
                <td><label for="type">Vehicle Type</label></td>

                <td colspan="3">
                    <input list="type-list" id="type-list-input" name="type"></input>
                    <datalist id="type-list">
                    </datalist>
                </td>

            </tr>


            <tr>
                <td><label for="model">Vehicle Model</label></td>
                <td colspan="3">
                    <input list="model-list" id="model-list-input" name="model"></input>
                    <datalist id="model-list">
                    </datalist>
                </td>
            </tr>

            <tr>
                <td><label for="year">Vehicle Year</label></td>
                <td colspan="3">
                    <input list="year-list" id="year-list-input" name="year"></input>
                    <datalist id="year-list">
                    </datalist>
                </td>
            </tr>

            <tr>
                <td><label for="color">Vehicle Colour</label></td>
                <td colspan="3">
                    <input list="color-list" id="color-list-input" name="color"></input>
                    <datalist id="color-list">
                    </datalist>
                </td>
            </tr>

            <tr>
                <td><label for="trim">Vehicle Trim</label></td>
                <td colspan="3">
                    <input list="trim-list" id="trim-list-input" name="trim"></input>
                    <datalist id="trim-list">
                    </datalist>
                </td>
            </tr>


            <tr>
                <td><label for="customer_fname">Customer First Name</label></td>
                <td colspan="3"><input type="text" name="customer_fname"></td>
            </tr>
            <tr>
                <td><label for="customer_lname">Customer Last Name</label></td>
                <td colspan="3"><input type="text" name="customer_lname"></td>
            </tr>

            <tr>
                <td><label>Test Drive Date Range (Lower)</label></td>
                <td colspan="3"><input type="date" name="test_drive_date_lower" value="2014-01-01" required></td>
            </tr>
            <tr>
                <td><label>Test Drive Date Range (Upper)</label></td>
                <td colspan="3"><input type="date" name="test_drive_date_upper" value="2030-12-31" required></td>
            </tr>




        </table>
        <input type="hidden" name="request_type" value="test_drive_new_search">
        <input type="submit" value="Submit">


    </fieldset>
</form>

<p><button onclick="add_new_test_drive();">New Record</button></p>

{% if content is defined %}
<div>
    <table>
        <thead>
            <tr>
                <th>Test Drive ID</th>
                <th>Vin</th>
                <th>Test Drive Date</th>
                <th>Check out Time</th>
                <th>Return Time</th>
                <th>Customer ID</th>
                <th>Customer First Name</th>
                <th>Customer Last Name</th>
                <th>Type</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
                <th>Trim</th>
                <th>Price</th>
                <th>Delete</th>
                <th>Update</th>


            </tr>
        </thead>
        {% if content is defined %}
        <tbody id="content-table">
            {% for i in content %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
                <td>{{i[8]}}</td>
                <td>{{i[9]}}</td>
                <td>{{i[10]}}</td>
                <td>{{i[11]}}</td>
                <td>{{i[12]}}</td>
                <td>{{i[13]}}</td>
                <td>{{i[14]}}</td>
                <td><button onclick="delete_test_drive('{{i[0]}}');">Delete</button></td>
                <td><button
                        onclick="edit_test_drive('{{i[0]}}','{{i[5]}}','{{i[1]}}','{{i[2]}}','{{i[3]}}','{{i[4]}}');">Edit</button>
                </td>
                <!--
                <td><button
                    onclick="edit_test_drive('{{i[0]}}','{{i[1]}}','{{i[2]}}','{{i[3]}}','{{i[4]}}','{{i[5]}}','{{i[6]}}','{{i[7]}}','{{i[8]}}','{{i[9]}}','{{i[10]}}','{{i[11]}}','{{i[12]}}','{{i[13]}}','{{i[14]}}');">Edit</button>
                </td>
                -->
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>


    <div class="page_button" style="margin: 0 auto; display:inline;">
        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{prev_page}}>
            <input type="hidden" name="request_type" value="test_drive_continue_search">
            <input type="submit" value="Prev">
        </form>

        Page {{current_page}}

        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{next_page}}>
            <input type="hidden" name="request_type" value="test_drive_continue_search">
            <input type="submit" value="Next">
        </form>
    </div>
    <br>
</div>

{% endif %}

<!--Editing test drive-->
<div id="edit_modal" class="edit_modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="edit-close">&times;</span>

        <form action="#" method="POST">
            <fieldset>

                <legend>Test Drive Information</legend>

                <table>

                    <tr>
                        <td>Test Drive ID </td>
                        <td colspan="2"><input type="number" name="dw_test_drive_id" readonly
                                id="edit-test_drive-test_drive_id"></input></td>


                    </tr>

                    <tr>
                        <td>Customer ID </td>
                        <td colspan="2"><input type="number" id="edit-test_drive-customerid" name="dw_customer_id"
                                onfocusout="edit_check_customer_id()" required></input></td>
                        <td colspan="3" id="edit-test_drive-customer-name"></td>
                    </tr>


                    <tr>
                        <td>VIN</td>
                        <td colspan="2"><input type="text" id="edit-test_drive-vin" name="vin"
                                onfocusout="edit_check_vin()" required></input>
                        </td>
                        <td colspan="3" id="edit-test_drive-veh-description"></td>
                    </tr>

                    <tr>
                        <td>Test Drive Date</td>
                        <td colspan="2"> <input type="date" id="edit-test_drive-drive_date" name="test_drive_date"></td>

                    </tr>

                    <tr>
                        <td>Check Out Time</td>
                        <td colspan="2"> <input type="datetime" id="edit-test_drive-checkout_time"
                                name="check_out_time"></td>

                    </tr>
                    <tr>
                        <td>Return Time</td>
                        <td colspan="2"> <input type="datetime" id="edit-test_drive-return_time" name="return_time">
                        </td>

                    </tr>


                </table>

                <input type="submit">
                <input type="hidden" name="request_type" value="test_drive_edit">
                <input type="hidden" name="page" value="{{ current_page }}">

            </fieldset>

        </form>

    </div>

</div>


<!--Adding new test drive-->
<div id="add_modal" class="add_modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="add-close">&times;</span>

        <form action="#" method="POST">
            <fieldset>

                <legend>Test Drive Information</legend>

                <table>
                    <!--
                    <tr>
                        <td>Test Drive ID</td>
                        <td colspan="2"><input type="number" id="add-test_drive-test_drive_id" onfocusout="check_test_drive_id()"
                                name="dw_test_drive_id" readonly></input></td>
                        <td colspan="3" id="add-sales-customer-name"></td>
                    </tr>
                    -->

                    <tr>
                        <td>Customer ID</td>
                        <td colspan="2"><input type="number" id="add-test_drive-customerid"
                                onfocusout="check_customer_id()" name="dw_customer_id" required></input>
                        </td>
                        <td colspan="3" id="add-test_drive-customer-name"></td>
                        <!--update-->
                    </tr>


                    <tr>
                        <td>VIN</td>
                        <!--FK from Vehicle Inventories-->
                        <td colspan="2"><input type="text" id="add-test_drive-vin" onfocusout="check_vin()" name="vin"
                                required></input>
                        </td>
                        <td colspan="3" id="add-test_drive-veh-description"></td>
                    </tr>

                    <tr>
                        <td>Test Drive Date</td>
                        <td colspan="2"> <input type="date" id="add-test_drive-date" name="test_drive_date" required>
                        </td>

                    </tr>

                    <tr>
                        <td>Check Out Time</td>
                        <td colspan="2"><input type="datetime" id="add-test_drive-checkout_time" name="checkout_time"
                                placeholder="YYYY-MM-DD HH:MM:SS" required></input>

                        </td>

                    <tr>
                        <td>Return Time</td>
                        <td colspan="2"><input type="datetime" placeholder="YYYY-MM-DD HH:MM:SS"
                                id="add-test_drive-return_time" name="return_time" required></input>
                        </td>
                    </tr>

                </table>

                <input type="hidden" name="page" value="{{ current_page }}">
                <input type="hidden" name="type" id='add-test_drive-types'>
                <input type="hidden" name="request_type" value="test_drive_add">
                <input type="submit">


            </fieldset>

        </form>

    </div>
</div>

{% if status_msg is defined%}
{{status_msg}}
{% endif %}

<script>



    window.addEventListener('load', (event) => {
        pull_make()

    });



    function pull_make() {
        var make_list = document.getElementById("make-list");
        var make_list_add = document.getElementById("make-list-add");
        var make_list_update = document.getElementById("make-list-update");

        var req = new XMLHttpRequest();
        var make_request = {}
        make_request.request_type = "inventory_make_pull"
        console.log(make_request)

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);
                console.log(response)

                for (i = 0; i < response.length; i++) {
                    console.log(i)
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    make_list.appendChild(option_tag)


                }




            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(make_request));
        event.preventDefault();


    }



    document.getElementById("make-list-input").addEventListener("change", function () {


        var model_list = document.getElementById("model-list");
        document.getElementById("model-list-input").value = ''

        var year_list = document.getElementById("year-list");
        document.getElementById("year-list-input").value = ''

        var color_list = document.getElementById("color-list");
        document.getElementById("color-list-input").value = ''

        var type_list = document.getElementById("type-list");
        document.getElementById("type-list-input").value = ''

        document.getElementById("trim-list-input").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_info_pull"
        info_request.make = document.getElementById("make-list-input").value
        console.log(info_request)

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);
                console.log(response)
                console.log("Make Request Success!")

                model_list.innerHTML = ''
                for (i = 0; i < response[0].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[0][i][0]
                    option_tag.value = response[0][i][0]
                    model_list.appendChild(option_tag)

                }


                year_list.innerHTML = ''
                for (i = 0; i < response[1].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[1][i][0]
                    option_tag.value = response[1][i][0]
                    year_list.appendChild(option_tag)
                }



                color_list.innerHTML = ''
                for (i = 0; i < response[2].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[2][i][0]
                    option_tag.value = response[2][i][0]
                    color_list.appendChild(option_tag)
                }



                type_list.innerHTML = ''
                for (i = 0; i < response[2].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[3][i][0]
                    option_tag.value = response[3][i][0]
                    type_list.appendChild(option_tag)
                }





            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });

    document.getElementById("model-list-input").addEventListener("change", function () {

        var trim_list = document.getElementById("trim-list");
        document.getElementById("trim-list-input").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_trim_pull"
        info_request.make = document.getElementById("make-list-input").value
        info_request.model = document.getElementById("model-list-input").value
        console.log(info_request)

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);
                console.log(response)
                console.log("Trim Request Success!")


                trim_list.innerHTML = ''
                for (i = 0; i < response.length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    trim_list.appendChild(option_tag)
                }



            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });




    function check_customer_id() {
        var customerid = document.getElementById("add-test_drive-customerid").value;
        var customer_name = document.getElementById("add-test_drive-customer-name");

        if (customerid != "") {
            console.log(customerid)


            var req = new XMLHttpRequest();
            var customer_request = {}
            customer_request.request_type = "customer_check"
            customer_request.dw_customer_id = customerid
            console.log(customer_request)

            req.open('POST', '/info_check', true);
            req.setRequestHeader('Content-Type', 'application/json');
            req.addEventListener('load', function () {
                if (req.status >= 200 && req.status < 400) {
                    var response = JSON.parse(req.responseText);
                    console.log(response)
                    console.log("Customer Info Request Success!")

                    if (response == "-1") {
                        customer_name.textContent = "No customer Information."
                    } else {
                        customer_name.textContent = "Customer ID exists - Customer Name:" + response[2] + ", " + response[1] + "(SSN: " + response[10] + ")"
                    }



                } else {
                    console.log("Error in network request: " + req.statusText);
                }
            });
            req.send(JSON.stringify(customer_request));
            event.preventDefault();



        }

    }



    function check_vin() {
        var vin = document.getElementById("add-test_drive-vin").value;
        var vin_description = document.getElementById("add-test_drive-veh-description");


        if (vin != "") {
            console.log(vin)


            var req = new XMLHttpRequest();
            var sales_request = {}
            sales_request.request_type = "vehicle_check"
            sales_request.vin = vin
            console.log(sales_request)

            req.open('POST', '/info_check', true);
            req.setRequestHeader('Content-Type', 'application/json');
            req.addEventListener('load', function () {
                if (req.status >= 200 && req.status < 400) {
                    var response = JSON.parse(req.responseText);
                    console.log(response)
                    console.log("Vehicle Info Request Success!")
                    if (response == "-1") {
                        vin_description.textContent = "No vehicle information"
                    } else {
                        vin_description.textContent = response[1] + "-" + response[2] + "-" + response[3] + "-" + response[4] + "-" + response[5] + "-" + response[6]
                    }

                } else {
                    console.log("Error in network request: " + req.statusText);
                }
            });
            req.send(JSON.stringify(sales_request));
            event.preventDefault();



        }

    }







    function edit_check_customer_id() {
        var customerid = document.getElementById("edit-test_drive-customerid").value;
        var customer_name = document.getElementById("edit-test_drive-customer-name");

        if (customerid != "") {
            console.log(customerid)


            var req = new XMLHttpRequest();
            var customer_request = {}
            customer_request.request_type = "customer_check"
            customer_request.dw_customer_id = customerid
            console.log(customer_request)

            req.open('POST', '/info_check', true);
            req.setRequestHeader('Content-Type', 'application/json');
            req.addEventListener('load', function () {
                if (req.status >= 200 && req.status < 400) {
                    var response = JSON.parse(req.responseText);
                    console.log(response)
                    console.log("Customer Info Request Success!")

                    if (response == "-1") {
                        customer_name.textContent = "No customer Information."
                    } else {
                        customer_name.textContent = "Customer ID exists - Customer Name:" + response[2] + ", " + response[1] + "(SSN: " + response[10] + ")"
                    }



                } else {
                    console.log("Error in network request: " + req.statusText);
                }
            });
            req.send(JSON.stringify(customer_request));
            event.preventDefault();



        }

    }



    function edit_check_vin() {
        var vin = document.getElementById("edit-test_drive-vin").value;
        var vin_description = document.getElementById("edit-test_drive-veh-description");


        if (vin != "") {
            console.log(vin)


            var req = new XMLHttpRequest();
            var sales_request = {}
            sales_request.request_type = "vehicle_check"
            sales_request.vin = vin
            console.log(sales_request)

            req.open('POST', '/info_check', true);
            req.setRequestHeader('Content-Type', 'application/json');
            req.addEventListener('load', function () {
                if (req.status >= 200 && req.status < 400) {
                    var response = JSON.parse(req.responseText);
                    console.log(response)
                    console.log("Vehicle Info Request Success!")
                    if (response == "-1") {
                        vin_description.textContent = "No vehicle information"
                    } else {
                        vin_description.textContent = response[1] + "-" + response[2] + "-" + response[3] + "-" + response[4] + "-" + response[5] + "-" + response[6]
                    }

                } else {
                    console.log("Error in network request: " + req.statusText);
                }
            });
            req.send(JSON.stringify(sales_request));
            event.preventDefault();



        }

    }




























    var edit_modal = document.getElementById("edit_modal");
    var edit_span = document.getElementById("edit-close");
    var add_modal = document.getElementsByClassName("add_modal")[0];
    var add_span = document.getElementById("add-close");

    console.log(add_modal)


    function add_new_test_drive() {
        add_modal.style.display = "block";
    }

    edit_span.onclick = function () {
        edit_modal.style.display = "none";
    }

    add_span.onclick = function () {
        add_modal.style.display = "none";
    }


    window.onclick = function (event) {

        if (event.target == edit_modal) {
            edit_modal.style.display = "none";
        }
        if (event.target == add_modal) {
            add_modal.style.display = "none";
        }

    }


    function edit_test_drive(tid, cid, vin, tddate, cotime, retime) {
        edit_modal.style.display = "block";
        document.getElementById("edit-test_drive-test_drive_id").value = tid
        document.getElementById("edit-test_drive-customerid").value = cid
        document.getElementById("edit-test_drive-vin").value = vin
        document.getElementById("edit-test_drive-drive_date").value = tddate
        document.getElementById("edit-test_drive-checkout_time").value = cotime
        document.getElementById("edit-test_drive-return_time").value = retime

    }


    function delete_test_drive(dw_test_drive_id) {

        console.log("{{ current_page }}")
        var req = new XMLHttpRequest();
        var test_drive_request = {}
        test_drive_request.request_type = "test_drive_delete"
        test_drive_request.dw_test_drive_id = dw_test_drive_id
        test_drive_request.page = "{{ current_page }}"
        console.log(test_drive_request)

        req.open('POST', '/testdrive', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                console.log("Delete Request Success!")

                location.reload();


            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(test_drive_request));
        event.preventDefault();


    }

</script>


{% endblock %}