{% extends "base.html" %}

{% block title%}
Quality Auto Sales - Vehicle Inventory
{% endblock %}

{% block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'inventory.css')}}">
{% endblock %}



{% block content%}

<form action="#" method="post">
    <fieldset>
        <legend>
            <h1>
                Vehicle Search
            </h1>
        </legend>

        <table>




            <tr>
                <td><label for="vin">VIN</label></td>
                <td colspan="5"><input type="text" name="vin" id="read-vin"></input>
                </td>
            </tr>

            <tr>
                <td><label for="make">Vehicle Make</label></td>

                <td colspan="3">
                    <input list="make-list" id="make-list-input" name="make"></input>
                    <datalist id="make-list">
                    </datalist>
                </td>

            </tr>



            <tr>
                <td><label for="type">Vehicle Type</label></td>

                <td colspan="3">
                    <input list="type-list" id="type-list-input" name="type"></input>
                    <datalist id="type-list">
                    </datalist>
                </td>

            </tr>


            <tr>
                <td><label for="model">Vehicle Model</label></td>
                <td colspan="3">
                    <input list="model-list" id="model-list-input" name="model"></input>
                    <datalist id="model-list">
                    </datalist>
                </td>
            </tr>

            <tr>
                <td><label for="year">Vehicle Year</label></td>
                <td colspan="3">
                    <input list="year-list" id="year-list-input" name="year"></input>
                    <datalist id="year-list">
                    </datalist>
                </td>
            </tr>

            <tr>
                <td><label for="color">Vehicle Colour</label></td>
                <td colspan="3">
                    <input list="color-list" id="color-list-input" name="color"></input>
                    <datalist id="color-list">
                    </datalist>
                </td>
            </tr>

            <tr>
                <td><label for="trim">Vehicle Trim</label></td>
                <td colspan="3">
                    <input list="trim-list" id="trim-list-input" name="trim"></input>
                    <datalist id="trim-list">
                    </datalist>
                </td>
            </tr>


            <tr>
                <td><label for="used">Used/New</label></td>
                <td><input type="radio" name="used" value="1" checked>Used</input></td>
                <td><input type="radio" name="used" value="0">New</input></td>
            </tr>


            <tr>
                <td>
                    Store Location
                </td>
                <td colspan="3">
                    <input list="store-list" id="store-list-input" name="store"></input>
                    <datalist id="store-list">
                    </datalist>
                </td>

            </tr>

        </table>
        <input type="hidden" name="request_type" value="new_search">
        <input type="submit" value="Submit">


    </fieldset>
</form>

<p><button onclick="add_new_vehicle();">New Record</button></p>



<div id="add_modal" class="add_modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="add-close">&times;</span>
        <form action="#" method="post">
            <fieldset>
                <legend>
                    <h1>
                        Vehicle Input
                    </h1>
                </legend>

                <table>
                    <tr>
                        <td><label for="vin">VIN</label></td>
                        <td colspan="5"><input type="text" name="vin" id="add-vin" required minlength=17
                                maxlength=17></input></td>
                    </tr>

                    <tr>
                        <td><label for="make">Vehicle Make</label></td>

                        <td colspan="3">
                            <input list="make-list-add" id="make-list-input-add" name="make" required></input>
                            <datalist id="make-list-add">
                            </datalist>
                        </td>

                    </tr>



                    <tr>
                        <td><label for="type">Vehicle Type</label></td>

                        <td colspan="3">
                            <input list="type-list-add" id="type-list-input-add" name="type" required></input>
                            <datalist id="type-list-add">
                            </datalist>
                        </td>

                    </tr>


                    <tr>
                        <td><label for="model">Vehicle Model</label></td>
                        <td colspan="3">
                            <input list="model-list-add" id="model-list-input-add" name="model" required></input>
                            <datalist id="model-list-add">
                            </datalist>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="year">Vehicle Year</label></td>
                        <td colspan="3">
                            <input list="year-list-add" id="year-list-input-add" name="year" required></input>
                            <datalist id="year-list-add">
                            </datalist>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="color">Vehicle Colour</label></td>
                        <td colspan="3">
                            <input list="color-list-add" id="color-list-input-add" name="color" required></input>
                            <datalist id="color-list-add">
                            </datalist>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="trim">Vehicle Trim</label></td>
                        <td colspan="3">
                            <input list="trim-list-add" id="trim-list-input-add" name="trim" required></input>
                            <datalist id="trim-list-add">
                            </datalist>
                        </td>
                    </tr>


                    <tr>
                        <td><label for="used">Used/New</label></td>
                        <td><input type="radio" name="used" value="1" checked>Used</input></td>
                        <td><input type="radio" name="used" value="0">New</input></td>
                    </tr>


                    <tr>
                        <td>
                            Store Location
                        </td>
                        <td colspan="3">
                            <input list="store-list-add" id="store-list-input-add" name="store" required></input>
                            <datalist id="store-list-add">
                            </datalist>
                        </td>

                    </tr>



                </table>

                <input type="hidden" name="request_type" value="add-submit">
                <input type="hidden" name="page" value="{{ current_page }}">
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>

</div>




<br>
{% if prev_page is defined %}
<div class="content-table" id="result-table">
    <table>
        <thead>
            <tr>
                <th>VIN</th>
                <th>Type</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
                <th>Trim</th>
                <th>Price</th>
                <th>Used/New</th>
                <th>Store Location</th>
                <th>Parking Location</th>
                <th>Delete</th>
                <th>Update</th>
                <th>Test Drive</th>

            </tr>
        </thead>
        {% if content is defined %}
        <tbody id="content-table">
            {% for i in content %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
                <td>{{i[8]}}</td>
                <td>{{i[9]}}</td>
                <td>{{i[10]}}</td>
                <td>
                    <form action="#" method="POST" style="margin: 0 auto;display: inline;">
                        <input type="hidden" name="page" value={{current_page}}>
                        <input type="hidden" name="request_type" value="delete">
                        <input type="hidden" name="vin" value='{{i[0]}}'>
                        <input type="submit" value="Delete">
                    </form>
                </td>

                <td><button
                        onclick="update_inventory('{{i[0]}}', '{{i[1]}}', '{{i[2]}}', '{{i[3]}}', '{{i[4]}}', '{{i[5]}}','{{i[6]}}','{{i[7]}}','{{i[8]}}','{{i[9]}}','{{i[10]}}');">Edit</button>
                </td>
                <td><button onclick="test_drive_review('{{i[0]}}');">Record</button></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <br>
    <div class="page_button" style="margin: 0 auto; display:inline;">
        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{prev_page}}>
            <input type="hidden" name="request_type" value="continue_search">
            <input type="submit" value="Prev">
        </form>

        Page {{current_page}}

        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{next_page}}>
            <input type="hidden" name="request_type" value="continue_search">
            <input type="submit" value="Next">
        </form>
    </div>
    <br>



</div>

{% endif %}



<!-- TestDrive Modal -->
<div id="testdrive_modal" class="testdrive_modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="testdrive-close">&times;</span>
        <h2 id="testdrive_title"></h2>
        <div id="testdrive_record"></div>
    </div>

</div>

<!-- Update Modal -->
<div id="update_modal" class="update_modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="update-close">&times;</span>
        <form action="#" method="post">
            <fieldset>
                <legend>

                    <h1>
                        Vehicle Update
                    </h1>
                </legend>

                <table>

                    <tr>
                        <td><label for="vin">VIN</label></td>
                        <td colspan="5"><input type="text" name="vin" id="update-vin" required minlength=17
                                maxlength=17></input></td>
                    </tr>

                    <tr>
                        <td><label for="make">Vehicle Make</label></td>

                        <td colspan="3">
                            <input list="make-list-update" id="make-list-input-update" name="make" required></input>
                            <datalist id="make-list-update">
                            </datalist>
                        </td>

                    </tr>



                    <tr>
                        <td><label for="type">Vehicle Type</label></td>

                        <td colspan="3">
                            <input list="type-list-update" id="type-list-input-update" name="type" required></input>
                            <datalist id="type-list-update">
                            </datalist>
                        </td>

                    </tr>


                    <tr>
                        <td><label for="model">Vehicle Model</label></td>
                        <td colspan="3">
                            <input list="model-list-update" id="model-list-input-update" name="model" required></input>
                            <datalist id="model-list-update">
                            </datalist>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="year">Vehicle Year</label></td>
                        <td colspan="3">
                            <input list="year-list-update" id="year-list-input-update" name="year" required></input>
                            <datalist id="year-list-update">
                            </datalist>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="color">Vehicle Colour</label></td>
                        <td colspan="3">
                            <input list="color-list-update" id="color-list-input-update" name="color" required></input>
                            <datalist id="color-list-update">
                            </datalist>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="trim">Vehicle Trim</label></td>
                        <td colspan="3">
                            <input list="trim-list-update" id="trim-list-input-update" name="trim" required></input>
                            <datalist id="trim-list-update">
                            </datalist>
                        </td>
                    </tr>


                    <tr>
                        <td><label for="used">Used/New</label></td>
                        <td><input type="radio" name="used" id="update-used-1" value="1" checked>Used</input>
                        </td>
                        <td><input type="radio" name="used" id="update-used-0" value="0">New</input></td>
                    </tr>


                    <tr>
                        <td>
                            Store Location
                        </td>
                        <td colspan="3">
                            <input list="store-list-update" id="store-list-input-update" name="store" required></input>
                            <datalist id="store-list-update">
                            </datalist>
                        </td>

                    </tr>


                    <tr>
                        <td>Parking Location</td>
                        <td colspan="5"><input type="text" name="parking" id="update-parking" required></input></td>
                    </tr>





                </table>

                <input type="hidden" name="orig_vin" id="update-orig-vin">
                <input type="hidden" name="request_type" value="update-submit">
                <input type="hidden" name="page" value="{{ current_page }}">
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>

</div>


<p>

    {% if status_msg is defined %}
    {{status_msg}}
    {% endif %}


</p>


<script>

    window.addEventListener('load', (event) => {
        pull_make()
        pull_store()

    });





    function pull_store() {
        var store_list = document.getElementById("store-list");
        var add_store_list = document.getElementById("store-list-add");
        var update_store_list = document.getElementById("store-list-update");


        var req = new XMLHttpRequest();
        var store_request = {}
        store_request.request_type = "inventory_store_pull"


        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);

                store_list.innerHTML = ''
                add_store_list.innerHTML = ''
                update_store_list.innerHTML = ''


                for (i = 0; i < response.length; i++) {

                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    store_list.appendChild(option_tag)

                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    add_store_list.appendChild(option_tag)

                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    update_store_list.appendChild(option_tag)

                }



            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(store_request));
        event.preventDefault();


    }




    function pull_make() {
        var make_list = document.getElementById("make-list");
        var make_list_add = document.getElementById("make-list-add");
        var make_list_update = document.getElementById("make-list-update");

        var req = new XMLHttpRequest();
        var make_request = {}
        make_request.request_type = "inventory_make_pull"


        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);


                for (i = 0; i < response.length; i++) {

                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    make_list.appendChild(option_tag)


                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    make_list_add.appendChild(option_tag)



                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    make_list_update.appendChild(option_tag)

                }




            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(make_request));
        event.preventDefault();


    }



    document.getElementById("make-list-input").addEventListener("change", function () {


        var model_list = document.getElementById("model-list");
        document.getElementById("model-list-input").value = ''

        var year_list = document.getElementById("year-list");
        document.getElementById("year-list-input").value = ''

        var color_list = document.getElementById("color-list");
        document.getElementById("color-list-input").value = ''

        var type_list = document.getElementById("type-list");
        document.getElementById("type-list-input").value = ''

        document.getElementById("trim-list-input").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_info_pull"
        info_request.make = document.getElementById("make-list-input").value

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);


                model_list.innerHTML = ''
                for (i = 0; i < response[0].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[0][i][0]
                    option_tag.value = response[0][i][0]
                    model_list.appendChild(option_tag)

                }


                year_list.innerHTML = ''
                for (i = 0; i < response[1].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[1][i][0]
                    option_tag.value = response[1][i][0]
                    year_list.appendChild(option_tag)
                }



                color_list.innerHTML = ''
                for (i = 0; i < response[2].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[2][i][0]
                    option_tag.value = response[2][i][0]
                    color_list.appendChild(option_tag)
                }



                type_list.innerHTML = ''
                for (i = 0; i < response[2].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[3][i][0]
                    option_tag.value = response[3][i][0]
                    type_list.appendChild(option_tag)
                }





            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });

    document.getElementById("model-list-input").addEventListener("change", function () {

        var trim_list = document.getElementById("trim-list");
        document.getElementById("trim-list-input").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_trim_pull"
        info_request.make = document.getElementById("make-list-input").value
        info_request.model = document.getElementById("model-list-input").value


        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);


                trim_list.innerHTML = ''
                for (i = 0; i < response.length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    trim_list.appendChild(option_tag)
                }



            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });














    document.getElementById("make-list-input-add").addEventListener("change", function () {


        var model_list = document.getElementById("model-list-add");
        document.getElementById("model-list-input-add").value = ''

        var year_list = document.getElementById("year-list-add");
        document.getElementById("year-list-input-add").value = ''

        var color_list = document.getElementById("color-list-add");
        document.getElementById("color-list-input-add").value = ''

        var type_list = document.getElementById("type-list-add");
        document.getElementById("type-list-input-add").value = ''

        document.getElementById("trim-list-input-add").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_info_pull"
        info_request.make = document.getElementById("make-list-input-add").value

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);


                model_list.innerHTML = ''
                for (i = 0; i < response[0].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[0][i][0]
                    option_tag.value = response[0][i][0]
                    model_list.appendChild(option_tag)

                }


                year_list.innerHTML = ''
                for (i = 0; i < response[1].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[1][i][0]
                    option_tag.value = response[1][i][0]
                    year_list.appendChild(option_tag)
                }



                color_list.innerHTML = ''
                for (i = 0; i < response[2].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[2][i][0]
                    option_tag.value = response[2][i][0]
                    color_list.appendChild(option_tag)
                }


                type_list.innerHTML = ''
                for (i = 0; i < response[2].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[3][i][0]
                    option_tag.value = response[3][i][0]
                    type_list.appendChild(option_tag)
                }


            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });




    document.getElementById("model-list-input-add").addEventListener("change", function () {

        var trim_list = document.getElementById("trim-list-add");
        document.getElementById("trim-list-input-add").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_trim_pull"
        info_request.make = document.getElementById("make-list-input-add").value
        info_request.model = document.getElementById("model-list-input-add").value

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);



                trim_list.innerHTML = ''
                for (i = 0; i < response.length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    trim_list.appendChild(option_tag)
                }



            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });















    document.getElementById("make-list-input-update").addEventListener("change", function () {



        var model_list = document.getElementById("model-list-update");
        document.getElementById("model-list-input-update").value = ''

        var year_list = document.getElementById("year-list-update");
        document.getElementById("year-list-input-update").value = ''

        var color_list = document.getElementById("color-list-update");
        document.getElementById("color-list-input-update").value = ''


        var type_list = document.getElementById("type-list-update");
        document.getElementById("type-list-input-update").value = ''

        document.getElementById("trim-list-input-update").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_info_pull"
        info_request.make = document.getElementById("make-list-input-update").value

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);


                model_list.innerHTML = ''
                for (i = 0; i < response[0].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[0][i][0]
                    option_tag.value = response[0][i][0]
                    model_list.appendChild(option_tag)

                }


                year_list.innerHTML = ''
                for (i = 0; i < response[1].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[1][i][0]
                    option_tag.value = response[1][i][0]
                    year_list.appendChild(option_tag)
                }



                color_list.innerHTML = ''
                for (i = 0; i < response[2].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[2][i][0]
                    option_tag.value = response[2][i][0]
                    color_list.appendChild(option_tag)
                }

                type_list.innerHTML = ''
                for (i = 0; i < response[3].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[3][i][0]
                    option_tag.value = response[3][i][0]
                    type_list.appendChild(option_tag)
                }



            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });




    document.getElementById("model-list-input-update").addEventListener("change", function () {

        var trim_list = document.getElementById("trim-list-update");
        document.getElementById("trim-list-input-update").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_trim_pull"
        info_request.make = document.getElementById("make-list-input-update").value
        info_request.model = document.getElementById("model-list-input-update").value


        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);


                trim_list.innerHTML = ''
                for (i = 0; i < response.length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    trim_list.appendChild(option_tag)
                }



            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });


    var add_modal = document.getElementById("add_modal");
    var add_span = document.getElementById("add-close");
    var testdrive_modal = document.getElementById("testdrive_modal");
    var testdrive_span = document.getElementById("testdrive-close");
    var update_modal = document.getElementById("update_modal");
    var update_span = document.getElementById("update-close");

    function add_new_vehicle() {
        add_modal.style.display = "block";

    }



    add_span.onclick = function () {
        add_modal.style.display = "none";
    }



    testdrive_span.onclick = function () {
        testdrive_modal.style.display = "none";
    }

    update_span.onclick = function () {
        update_modal.style.display = "none";
    }




    window.onclick = function (event) {
        if (event.target == testdrive_modal) {
            testdrive_modal.style.display = "none";
        }

        if (event.target == update_modal) {
            update_modal.style.display = "none";
        }

        if (event.target == add_modal) {
            add_modal.style.display = "none";
        }



    }





    function update_inventory(vin, type, make, model, year, color, trim, price, used, store, parking) {

        update_modal.style.display = "block";


        document.getElementById("update-vin").value = vin
        document.getElementById("update-orig-vin").value = vin


        document.getElementById('make-list-input-update').value = make
        document.getElementById('type-list-input-update').value = type
        document.getElementById('model-list-input-update').value = model
        document.getElementById('year-list-input-update').value = year
        document.getElementById('color-list-input-update').value = color
        document.getElementById('trim-list-input-update').value = trim

        if (used == "New") {
            document.getElementById("update-used-0").checked = true
        } else if (used == "Used") {
            document.getElementById("update-used-1").checked = true
        }

        document.getElementById('store-list-input-update').value = store
        document.getElementById('update-parking').value = parking
    }





    function test_drive_review(vin) {
        testdrive_modal.style.display = "block";

        var testdrive_title = document.getElementById("testdrive_title");
        testdrive_title.textContent = "Test Drive Record for Vehicle " + vin;
        testdrive_title.style = "text-align: center;"


        var req = new XMLHttpRequest();
        var testdrive_request = {}
        testdrive_request.request_type = "testdrive_check"
        testdrive_request.vin = vin


        req.open('POST', '/vehinventory', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);


                var testdrive_record = document.getElementById("testdrive_record");

                if (response.result == 'Y') {
                    testdrive_record.innerHTML = ""
                    var testdrive_table = document.createElement("table")
                    testdrive_record.appendChild(testdrive_table)

                    var testdrive_table_header = document.createElement("thead")
                    testdrive_table.appendChild(testdrive_table_header)

                    var testdrive_table_tr = document.createElement("tr")
                    testdrive_table_header.appendChild(testdrive_table_tr)

                    var testdrive_table_td = document.createElement("td")
                    testdrive_table_td.textContent = "ID"
                    testdrive_table_tr.appendChild(testdrive_table_td)

                    var testdrive_table_td = document.createElement("td")
                    testdrive_table_td.textContent = "Date"
                    testdrive_table_tr.appendChild(testdrive_table_td)

                    var testdrive_table_td = document.createElement("td")
                    testdrive_table_td.textContent = "Checkout Time"
                    testdrive_table_tr.appendChild(testdrive_table_td)

                    var testdrive_table_td = document.createElement("td")
                    testdrive_table_td.textContent = "Return Time"
                    testdrive_table_tr.appendChild(testdrive_table_td)



                    var testdrive_table_body = document.createElement("tbody")
                    testdrive_table.appendChild(testdrive_table_body)




                    for (i in response.Data) {


                        var testdrive_table_tr = document.createElement("tr")
                        testdrive_table_body.appendChild(testdrive_table_tr)

                        var testdrive_table_td = document.createElement("td")
                        testdrive_table_td.textContent = i
                        testdrive_table_tr.appendChild(testdrive_table_td)

                        var testdrive_table_td = document.createElement("td")
                        testdrive_table_td.textContent = response.Data[i].test_drive_date
                        testdrive_table_tr.appendChild(testdrive_table_td)

                        var testdrive_table_td = document.createElement("td")
                        testdrive_table_td.textContent = response.Data[i].check_out_time
                        testdrive_table_tr.appendChild(testdrive_table_td)

                        var testdrive_table_td = document.createElement("td")
                        testdrive_table_td.textContent = response.Data[i].return_time
                        testdrive_table_tr.appendChild(testdrive_table_td)


                    }

                } else {
                    testdrive_record.textContent = "There is no test drive record for this vehicle."
                }



            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(testdrive_request));
        event.preventDefault();

    }




</script>




{% endblock %}