{% extends "base.html" %}

{% block title%}
Quality Auto Sales - Vehicle Types
{% endblock %}

{% block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'vehicle_type.css')}}">
{% endblock %}

{% block content%}

<form action="#" method="POST">
    <fieldset>
        <legend>Vehicle Type Search Form</legend>
        <table>

            <tr>
                <td>Vehicle Type ID</td>
                <td id="vehicle-type-id"><input type="text" name="dw_vehicle_type_id"></td>
            </tr>

            <tr>
                <td><label for="make">Vehicle Make</label></td>

                <td colspan="3">
                    <input list="make-list" id="make-list-input" name="vehicle_make"></input>
                    <datalist id="make-list">
                    </datalist>
                </td>

            </tr>

            <tr>
                <td><label for="type">Vehicle Type</label></td>

                <td colspan="3">
                    <input list="type-list" id="type-list-input" name="vehicle_type"></input>
                    <datalist id="type-list">
                    </datalist>
                </td>

            </tr>

            <tr>
                <td><label for="model">Vehicle Model</label></td>
                <td colspan="3">
                    <input list="model-list" id="model-list-input" name="vehicle_model"></input>
                    <datalist id="model-list">
                    </datalist>
                </td>
            </tr>

            <tr>
                <td><label for="year">Vehicle Year</label></td>
                <td colspan="3">
                    <input list="year-list" id="year-list-input" name="vehicle_year"></input>
                    <datalist id="year-list">
                    </datalist>
                </td>
            </tr>

            <tr>
                <td><label for="color">Vehicle Colour</label></td>
                <td colspan="3">
                    <input list="color-list" id="color-list-input" name="vehicle_color"></input>
                    <datalist id="color-list">
                    </datalist>
                </td>
            </tr>


            <tr>
                <td><label for="trim">Vehicle Trim</label></td>
                <td colspan="3">
                    <input list="trim-list" id="trim-list-input" name="vehicle_trim"></input>
                    <datalist id="trim-list">
                    </datalist>
                </td>
            </tr>


        </table>

        <input type="submit">
        <input type="hidden" name="request_type" value="vehicle_type_new_search">
    </fieldset>
</form>



<p>
    <button onclick="add_vehicle_type();">New Record</button>
</p>
{% if content is defined%}
<div id="result-table">
    <table>
        <thead>
            <tr>
                <th>Vehicle Type ID</th>
                <th>Type</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
                <th>Trim</th>
                <th>Price</th>
                <th>Delete</th>
                <th>Update</th>

            </tr>
        </thead>
        {% if content is defined %}
        <tbody id="content-table">
            {% for i in content %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
                <td>
                    <form action="#" method="POST" style="margin: 0 auto;display: inline;">
                        <input type="hidden" name="page" value={{current_page}}>
                        <input type="hidden" name="request_type" value="vehicle_type_delete">
                        <input type="hidden" name="dw_vehicle_type_id" value='{{i[0]}}'>
                        <input type="submit" value="Delete">
                    </form>
                </td>
                <td><button
                        onclick="edit_vehicle_type('{{i[0]}}','{{i[1]}}','{{i[2]}}','{{i[3]}}','{{i[4]}}','{{i[5]}}','{{i[6]}}','{{i[7]}}');">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <br>
    <div class="page_button" style="margin: 0 auto; display:inline;">
        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{prev_page}}>
            <input type="hidden" name="request_type" value="vehicle_type_continue_search">
            <input type="submit" value="Prev">
        </form>

        Page {{current_page}}

        <form action="#" method="POST" style="margin: 0 auto;display: inline;">
            <input type="hidden" name="page" value={{next_page}}>
            <input type="hidden" name="request_type" value="vehicle_type_continue_search">
            <input type="submit" value="Next">
        </form>
    </div>
    <br>


</div>


{% endif %}

<div id="edit_modal" class="edit_modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="edit-close">&times;</span>

        <form action="#" method="POST">
            <fieldset>
                <legend>Vehicle Type Information</legend>
                <table>

                    <tr>
                        <td>Vehicle Type ID </td>
                        <td><input type="text" name="dw_vehicle_type_id" readonly id="vehicle-type-id-edit" required>
                        </td>
                    </tr>

                    <tr>
                        <td>Vehicle Make </td>
                        <td><input type="text" name="vehicle_make" required id="vehicle-make-edit"
                                onfocusout="generate_vehicle_type_id_edit();">
                        </td>
                    </tr>


                    <tr>
                        <td>Vehicle Type </td>
                        <td><input type="text" name="vehicle_type" id="vehicle-type-edit" required
                                onfocusout="generate_vehicle_type_id_edit();">
                        </td>
                    </tr>


                    <tr>
                        <td>Vehicle Model </td>
                        <td><input type="text" name="vehicle_model" required id="vehicle-model-edit"
                                onfocusout="generate_vehicle_type_id_edit();"> </td>
                    </tr>

                    <tr>
                        <td>Vehicle Year </td>
                        <td><input type="number" min="1000" max="9999" name="vehicle_year" id="vehicle-year-edit"
                                onfocusout="generate_vehicle_type_id_edit();" required></td>
                    </tr>


                    <tr>
                        <td>Vehicle Color </td>
                        <td><input type="text" name="vehicle_color" required id="vehicle-color-edit"
                                onfocusout="generate_vehicle_type_id_edit();"></td>
                    </tr>

                    <tr>
                        <td>Vehicle Trim </td>
                        <td><input type="text" name="vehicle_trim" required id="vehicle-trim-edit"
                                onfocusout="generate_vehicle_type_id_edit();">
                        </td>
                    </tr>

                    <tr>
                        <td>Vehicle Price </td>
                        <td><input type="number" name="vehicle_price" id="vehicle-price-edit" step=0.0000001 required>
                        </td>
                    </tr>


                </table>

                <input type="submit">
                <input type="hidden" name="request_type" value="vehicle_type_update">
                <input type="hidden" name="page" value={{current_page}}>
                <input type="hidden" name="old_vehicle_type_id" id="old_vehicle_type_update">

            </fieldset>
        </form>
    </div>

</div>

<div id=" add_modal" class="add_modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="add-close">&times;</span>

        <form action="#" method="POST">
            <fieldset>
                <legend>Vehicle Type Information</legend>
                <table>

                    <tr>
                        <td>Vehicle Type ID (Auto-Generated) </td>
                        <td><input type="text" name="dw_vehicle_type_id" readonly id="vehicle-type-id-add" required>
                        </td>
                    </tr>



                    <tr>
                        <td>Vehicle Make </td>
                        <td><input type="text" name="vehicle_make" required id="vehicle-make-add"
                                onfocusout="generate_vehicle_type_id();"></td>
                    </tr>



                    <tr>
                        <td>Vehicle Type </td>
                        <td><input type="text" name="vehicle_type" id="vehicle-type-add" required
                                onfocusout="generate_vehicle_type_id();"></td>
                    </tr>





                    <tr>
                        <td>Vehicle Model </td>
                        <td><input type="text" name="vehicle_model" required id="vehicle-model-add"
                                onfocusout="generate_vehicle_type_id();"> </td>
                    </tr>



                    <tr>
                        <td>Vehicle Year </td>
                        <td><input type="number" min="1000" max="9999" name="vehicle_year" id="vehicle-year-add"
                                onfocusout="generate_vehicle_type_id();" required>
                        </td>
                    </tr>


                    <tr>
                        <td>Vehicle Color </td>
                        <td><input type="text" name="vehicle_color" required id="vehicle-color-add"
                                onfocusout="generate_vehicle_type_id();"></td>
                    </tr>



                    <tr>
                        <td>Vehicle Trim </td>
                        <td><input type="text" name="vehicle_trim" required id="vehicle-trim-add"
                                onfocusout="generate_vehicle_type_id();"></td>
                    </tr>

                    <tr>
                        <td>Vehicle Price </td>
                        <td id="vehicle-price"><input type="number" name="vehicle_price" required step=0.0000001></td>
                    </tr>


                </table>

                <input type="submit">
                <input type="hidden" name="request_type" value="vehicle_type_add">
                <input type="hidden" name="page" value={{current_page}}>

            </fieldset>
        </form>
    </div>

</div>



<p id="status_msg">
    {% if status_msg is defined%}
    {{status_msg}}
    {% endif %}
</p>













<script>




    window.addEventListener('load', (event) => {
        pull_make()

    });



    function pull_make() {
        var make_list = document.getElementById("make-list");
        var make_list_add = document.getElementById("make-list-add");
        var make_list_update = document.getElementById("make-list-update");

        var req = new XMLHttpRequest();
        var make_request = {}
        make_request.request_type = "inventory_make_pull"
        console.log(make_request)

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);
                console.log(response)

                for (i = 0; i < response.length; i++) {
                    console.log(i)
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    make_list.appendChild(option_tag)


                }




            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(make_request));
        event.preventDefault();


    }



    document.getElementById("make-list-input").addEventListener("change", function () {


        var model_list = document.getElementById("model-list");
        document.getElementById("model-list-input").value = ''

        var year_list = document.getElementById("year-list");
        document.getElementById("year-list-input").value = ''

        var color_list = document.getElementById("color-list");
        document.getElementById("color-list-input").value = ''

        var type_list = document.getElementById("type-list");
        document.getElementById("type-list-input").value = ''

        document.getElementById("trim-list-input").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_info_pull"
        info_request.make = document.getElementById("make-list-input").value
        console.log(info_request)

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);
                console.log(response)
                console.log("Make Request Success!")

                model_list.innerHTML = ''
                for (i = 0; i < response[0].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[0][i][0]
                    option_tag.value = response[0][i][0]
                    model_list.appendChild(option_tag)

                }


                year_list.innerHTML = ''
                for (i = 0; i < response[1].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[1][i][0]
                    option_tag.value = response[1][i][0]
                    year_list.appendChild(option_tag)
                }



                color_list.innerHTML = ''
                for (i = 0; i < response[2].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[2][i][0]
                    option_tag.value = response[2][i][0]
                    color_list.appendChild(option_tag)
                }



                type_list.innerHTML = ''
                for (i = 0; i < response[2].length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[3][i][0]
                    option_tag.value = response[3][i][0]
                    type_list.appendChild(option_tag)
                }





            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });

    document.getElementById("model-list-input").addEventListener("change", function () {

        var trim_list = document.getElementById("trim-list");
        document.getElementById("trim-list-input").value = ''

        var req = new XMLHttpRequest();
        var info_request = {}
        info_request.request_type = "inventory_trim_pull"
        info_request.make = document.getElementById("make-list-input").value
        info_request.model = document.getElementById("model-list-input").value
        console.log(info_request)

        req.open('POST', '/info_check', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                var response = JSON.parse(req.responseText);
                console.log(response)
                console.log("Trim Request Success!")


                trim_list.innerHTML = ''
                for (i = 0; i < response.length; i++) {
                    var option_tag = document.createElement("option")
                    option_tag.innerHTML = response[i]
                    option_tag.value = response[i]
                    trim_list.appendChild(option_tag)
                }



            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(info_request));
        event.preventDefault();




    });






















    var edit_modal = document.getElementById("edit_modal");
    var edit_span = document.getElementById("edit-close");
    var add_modal = document.getElementsByClassName("add_modal")[0];
    var add_span = document.getElementById("add-close");

    console.log(add_modal)

    function add_vehicle_type() {
        add_modal.style.display = "block";
    }

    edit_span.onclick = function () {
        edit_modal.style.display = "none";
    }

    add_span.onclick = function () {
        add_modal.style.display = "none";
    }


    window.onclick = function (event) {

        if (event.target == edit_modal) {
            edit_modal.style.display = "none";
        }
        if (event.target == add_modal) {
            add_modal.style.display = "none";
        }

    }





    function generate_vehicle_type_id() {

        var vehicle_make = document.getElementById("vehicle-make-add").value
        var vehicle_type = document.getElementById("vehicle-type-add").value
        var vehicle_model = document.getElementById("vehicle-model-add").value
        var vehicle_year = document.getElementById("vehicle-year-add").value
        var vehicle_color = document.getElementById("vehicle-color-add").value
        var vehicle_trim = document.getElementById("vehicle-trim-add").value


        if (typeof vehicle_make != "undefined" & typeof vehicle_type != "undefined" & typeof vehicle_model != "undefined" & typeof vehicle_year != "undefined" & typeof vehicle_color != "undefined" & typeof vehicle_trim != "undefined") {

            console.log(vehicle_make.substring(0, 2) + vehicle_model.substring(0, 4) + vehicle_year + vehicle_color.substring(0, 3) + vehicle_trim.substring(0, 2))
            document.getElementById("vehicle-type-id-add").value = vehicle_make.substring(0, 2).toUpperCase() + vehicle_model.substring(0, 4).toUpperCase() + vehicle_year + vehicle_color.substring(0, 3).toUpperCase() + vehicle_trim.substring(0, 2).toUpperCase()

        }


    }



    function generate_vehicle_type_id_edit() {

        var vehicle_make = document.getElementById("vehicle-make-edit").value
        var vehicle_type = document.getElementById("vehicle-type-edit").value
        var vehicle_model = document.getElementById("vehicle-model-edit").value
        var vehicle_year = document.getElementById("vehicle-year-edit").value
        var vehicle_color = document.getElementById("vehicle-color-edit").value
        var vehicle_trim = document.getElementById("vehicle-trim-edit").value


        if (typeof vehicle_make != "undefined" & typeof vehicle_type != "undefined" & typeof vehicle_model != "undefined" & typeof vehicle_year != "undefined" & typeof vehicle_color != "undefined" & typeof vehicle_trim != "undefined") {

            console.log(vehicle_make.substring(0, 2) + vehicle_model.substring(0, 4) + vehicle_year + vehicle_color.substring(0, 3) + vehicle_trim.substring(0, 2))
            document.getElementById("vehicle-type-id-edit").value = vehicle_make.substring(0, 2).toUpperCase() + vehicle_model.substring(0, 4).toUpperCase() + vehicle_year + vehicle_color.substring(0, 3).toUpperCase() + vehicle_trim.substring(0, 2).toUpperCase()

        }


    }



    function edit_vehicle_type(dw_vehicle_type_id, vehicle_type, vehicle_make, vehicle_model, vehicle_year, vehicle_color, vehicle_trim, vehicle_price) {
        edit_modal.style.display = "block";
        document.getElementById("vehicle-type-id-edit").value = dw_vehicle_type_id
        document.getElementById("vehicle-make-edit").value = vehicle_make
        document.getElementById("vehicle-type-edit").value = vehicle_type
        document.getElementById("vehicle-model-edit").value = vehicle_model
        document.getElementById("vehicle-year-edit").value = vehicle_year
        document.getElementById("vehicle-color-edit").value = vehicle_color
        document.getElementById("vehicle-trim-edit").value = vehicle_trim
        document.getElementById("vehicle-price-edit").value = vehicle_price
        document.getElementById("old_vehicle_type_update").value = dw_vehicle_type_id
    }




</script>


{% endblock %}